html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-image: url('background.jpg');  /* 이미지 경로를 꼭 확인하세요 */
    background-size: 100% auto;
}

#bar {
    width: 300px;
    height: 30px;
    border: 2px solid black;
    position: relative;
    margin: 50px;
    background-color: #e0e0e0;
}

#targetZone {
    width: 50px;
    height: 30px;
    background-color: green;
    position: absolute;
    left: 125px;
}

#circle {
    width: 20px;
    height: 20px;
    background-image: url('gamza.jpg'); /* Circle 이미지 경로 */
    background-size: cover;
    position: absolute;
    top: 5px;
}

#gameChoices {
    text-align: center;  /* 중앙 정렬 */
    margin: 50px;
}

.gameCircle {
    width: 60px;
    height: 60px;
    margin: 20px;
    cursor: pointer;
    text-align: center;
    line-height: 100px;
    display: inline-block;
    background-image: url('potato.png'); 
    background-size: cover;
    color: white;  
    text-shadow: 2px 2px 4px black; 
    position: absolute;
    transition: none; 
}

.random-image {
    width: 60px;
    height: 60px;
    position: absolute;
    cursor: pointer;
}

#gameResult {
    display: none;
    text-align: center;
    margin-top: 30px;
}

#resultImage {
    width: 50px;
    height: 50px;
}
